
@{
    ViewBag.Title = "CantEnter";
    Layout = "~/Views/Shared/_LayoutPageEmploymentLogin.cshtml";
}


<div class="container" style="text-align:center;width:400px;background-color:aliceblue">
    <h1>你沒有權限</h1>
    <a href="~/Employees/empLogin" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">回到登入畫面</a>
</div>




