@{ 
    Layout = "~/Views/Shared/_LayoutPageEmploymentLogin.cshtml";
}
<style>
    .login-form {
        width: 340px;
        margin: 50px auto;
    }

        .login-form form {
            margin-bottom: 15px;
            background: #f7f7f7;
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
            padding: 30px;
        }

        .login-form h2 {
            margin: 0 0 15px;
        }

    .form-control, .btn {
        min-height: 38px;
        border-radius: 2px;
    }

    .btn {
        font-size: 15px;
        font-weight: bold;
    }

    .login-form form {
        margin-bottom: 15px;
        background: #f7f7f7;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 30px;
        margin-top: 200px;
    }
</style>

@Html.AntiForgeryToken()


<div>
    <div class="login-form">
        <form action="empLogin" method="post">
            <h2 class="text-center">員工登入</h2>
            <div class="form-group">
                <input type="text" class="form-control" id="logAccount" name="logAccount" placeholder="Account" required="required">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="password" name="password" placeholder="Password" required="required">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">登入</button>
            </div>
            <div class="clearfix">
                <label class="pull-left checkbox-inline"><input type="checkbox"> 記住我</label>
                @Html.ActionLink("忘記密碼", "EmpForgotPassword", new { @class = "pull-right" })
            </div>

        </form>
        <button class="btn btn-default" id="Sale">業務</button>
        <button class="btn btn-default" id="Account">會計</button>
        <button class="btn btn-default" id="Manager">經理</button>
        <button class="btn btn-default" id="HR">人事</button>
        <p class="text-center"><a href="Create">新應徵人員</a></p>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<script>
    var pas1 = document.getElementById("logAccount")
    var pas2 = document.getElementById("password")
    $("#Sale").click(function () {
        $("#logAccount").val("sale001")
        $("#password").val("1234")

    })
    $("#Account").click(function () {
        $("#logAccount").val("Account001")
        $("#password").val("1234")

    })
    $("#Manager").click(function () {
        $("#logAccount").val("Manager001")
        $("#password").val("1234")

    })
    $("#HR").click(function () {
        $("#logAccount").val("HR001")
        $("#password").val("1234")

    })
</script>
