@{
    Layout = null;
    ViewBag.Title = "感謝您的加入";
    Layout = "~/Views/Shared/_LayoutPageEmploymentLogin.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>謝謝你的加入</title>
</head>
<body>
    <div style="margin:auto; text-align:center;height:500px; color:white;">
        <h1>感謝您的加入</h1>
        <label>請靜待等候通知，並且麻煩注意電子信箱</label>
        <br />
        <label>我們將會期待您的加入，感謝您的填寫</label>
        <br />
        <label>格囹欄鋁窗有限公司</label>

    </div>
</body>
</html>
